.modal-footer {
	justify-content: center;
}

body {
    -webkit-overflow-scrolling : touch;
    overflow: auto;
    height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.flex-break {
  width: 100%;
}